<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
	xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="./providers.config"/>
  <!-- Database connection information -->
  <database>
    <provider name="PostgreSql4.0.8.0"/>
    <dataSource name="IS_DMS" connectionString="host=192.168.10.103;Port=5432;Database=is_dms;username=isdmsusr;password=dms_Usr!@;timeout=1024;"/>
  </database>

  <sqlMaps>
   <sqlMap resource="./SqlMap/Postgresql/Main.xml" />
    <sqlMap resource="./SqlMap/Postgresql/User.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Log.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Auth.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Common.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Interface.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Dist.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Recv.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Part.xml" />
    <sqlMap resource="./SqlMap/Postgresql/Bbs.xml" /> 
  </sqlMaps>

</sqlMapConfig>