@font-face {
    font-family: 'NotoKrL';
    font-style: normal;
    font-weight: 100;
    src: url('/Content/Font/notosanskr_webfont/notokr-light.eot');
    src: url('/Content/Font/notosanskr_webfont/notokr-light.eot?#iefix') format('embedded-opentype'), url('/Content/Font/notosanskr_webfont/notokr-light.woff2') format('woff2'), url('/Content/Font/notosanskr_webfont/notokr-light.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: 300;
    src: url('/Content/Font/notosanskr_webfont/notokr/notokr-regular.eot');
    src: url('/Content/Font/notosanskr_webfont/notokr-regular.eot?#iefix') format('embedded-opentype'), url('/Content/Font/notosanskr_webfont/notokr-regular.woff2') format('woff2'), url('/Content/Font/notosanskr_webfont/notokr-regular.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrM';
    font-style: normal;
    font-weight: 500;
    src: url('/Content/Font/notosanskr_webfont/notokr/notokr-medium.eot');
    src: url('/Content/Font/notosanskr_webfont/notokr-medium.eot?#iefix') format('embedded-opentype'), url('/Content/Font/notosanskr_webfont/notokr-medium.woff2') format('woff2'), url('/Content/Font/notosanskr_webfont/notokr-medium.woff') format('woff');
}

@font-face {
    font-family: 'NotoKrB';
    font-style: normal;
    font-weight: 700;
    src: url('/Content/Font/notosanskr_webfont/notokr/notokr-bold.eot');
    src: url('/Content/Font/notosanskr_webfont/notokr-bold.eot?#iefix') format('embedded-opentype'), url('/Content/Font/notosanskr_webfont/notokr-bold.woff2') format('woff2'), url('/Content/Font/notosanskr_webfont/notokr-bold.woff') format('woff');
}


/* Layout ***********************************************************************************/

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
}

a {
    color: #2C2929;
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

.wrapGeneral {
    width: 100%;
    height: 100%;
    min-width: 1024px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapTop {
    flex: none;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

    .wrapTop .areaLogo {
        width: 340px;
        /* background-color: #f4f4f4;*/
        background-color: #474952;
        background-image: url(/Content/Images/Base/main_logo.png);
        background-repeat: no-repeat;
        background-size: 312px 46px;
        background-position: 15px 10px;
    }

    .wrapTop .areaStatus {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1;
        /*background-color: #f4f4f4;*/
        background-color: #474952;
        background: linear-gradient(90deg, rgba(71,73,82,1) 0%, rgba(143,143,144,1) 40%, rgba(164,164,164,1) 100%);
    }

    .wrapTop .usericon {
        width: 20px;
        height: 18px;
        background-image: url(/Content/Images/Icon/icon_user.png);
        display: inline-block;
    }

    .wrapTop .logout {
        width: 20px;
        height: 20px;
        background-image: url(/Content/Images/Icon/icon_logout.png);
        background-repeat: no-repeat;
        display: inline-block;
    }

.wrapCenter {
    height: 100%;
    flex: 1;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

    .wrapCenter .areaMenu {
        flex: none;
        width: 250px;
        display: flex;
        flex-direction: row;
        background-color: #ff6a00;
    }

        .wrapCenter .areaMenu .areaMenuBar {
            width: 250px;
            background-color: #121b40;
            color: #fff;
            display: flex;
            flex-direction: column;
        }

        .wrapCenter .areaMenu .areaMenuControl {
            width: 30px;
            background-color: #eef3f6;
            display: flex;
            align-items: center;
            justify-content: left;
            display: none;
        }

            .wrapCenter .areaMenu .areaMenuControl .MenuCtrl {
                background-color: #2C3D4D;
                width: 30px;
                height: 60px;
                font-size: 20px;
                display: none;
            }

    .wrapCenter .areaContents {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        background-color: #f9fbfb;
        /*padding-right:20px; #eef3f6
                overflow: auto;
        */
    }

        .wrapCenter .areaContents #viewContent {
            height: 100%;
            overflow: auto;
            padding: 15px 25px;
            /*padding-right:20px;*/
        }



.menuBox {
    display: flex;
    flex-direction: row;
    background-color: #16214b;
    height: 65px;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    border-bottom: solid 1px #283873;
}

    .menuBox.selected {
        background-color: #25A8F8;
    }

    .menuBox:hover {
        background-image: url(../images/Base/menu_hover.png);
    }

    .menuBox .menuIcon {
        flex: none;
        margin-left: 20px;
        width: 42px;
        height: 30px;
        text-align: center;
        cursor: pointer;
    }

        .menuBox .menuIcon .i01 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_01.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i02 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_02.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i03 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_03.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i04 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_04.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i05 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_05.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i06 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/menu_06.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i07 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_01.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i08 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_02.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i09 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_03.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i10 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_04.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i11 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_05.png);
            background-repeat: no-repeat;
        }

        .menuBox .menuIcon .i12 {
            font-size: 22px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon/submenu_06.png);
            background-repeat: no-repeat;
        }

    /*    .menuBox .menuIcon i {
        font-size: 22px;
        cursor: pointer;
    }

*/

    .menuBox .menuTitle {
        flex: 1;
        height: 26px;
        text-align: left;
    }

        .menuBox .menuTitle label {
            font-size: 16px;
            line-height: 0.98em;
            letter-spacing: 1px;
            font-family: NotoKrB;
        }

.subMenuBox {
    display: none;
    width: 250px;
    background-color: #2C3D4D;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    border-left: 1px solid #fff;
}

.searchBox {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-bottom: solid 1px #ddd;
    /*border-bottom: 1px solid #726a6a;
    border-right: 1px solid #726a6a;
    border-top: 1px solid #726a6a;
    border-right: 1px solid #726a6a;*/
    /* border: 1px solid #726a6a; */
    /*border-top-left-radius: 8px; */
    /*background-color: #eef3f6;*/
}

    .searchBox .searchTitle {
        width: 100%;
        height: 26px;
        background-color: #eaeaea;
        border-bottom: solid 1px #ccc;
        border-top: solid 1px #ccc;
        /*
        height: 32px;
        background-color: #ddd;
        padding-top: 6px;
        border-bottom: solid 1px #ccc;
        border-top: solid 1px #ccc;
            */
        /* border-top-left-radius: 5px; */
    }

        .searchBox .searchTitle label {
            font-size: 12px;
            color: #333;
            letter-spacing: -0.5px;
            margin-left: 10px;
            font-weight: bold;
        }

    .searchBox .searchContent {
        width: 100%;
        height: auto;
        padding: 10px;
        /*min-height: 80px;*/
        display: flex;
        align-content: flex-start;
        /* justify-content: space-between;*/
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-bottom: 5px;
    }

    .searchBox .searchButton {
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-top: solid 1px #dfdfdf;
        padding-top: 6px;
        margin-bottom: 6px;
    }

    .searchBox .searchContent .searchData {
        display: flex;
        flex-direction: row;
        margin: 5px 25px 2px 3px;
        min-width: 388px;
    }

    .searchBox .searchButton button {
        margin-right: 10px;
    }


    .searchBox .searchContent .searchData div {
        font-size: 13px;
        line-height: 1.834em;
    }

    .searchBox .searchContent .searchData > div:first-child {
        min-width: 90px;
        padding-left: 10px;
        margin-right: 10px;
        white-space: nowrap;
    }

    .searchBox .searchContent .searchData > div:last-child {
        min-width: 140px;
        display: inherit;
    }
/* ***********************************************************************************/
.lbText {
    font-size: 14px;
    font-weight: bold;
}

.txtBox {
    display: inline;
    padding-left: 5px;
    font-size: 13px;
    line-height: 1.55857143;
    margin-bottom: 0;
    width: 80px;
    /* height:22px;*/
    height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}

    .txtBox.large {
        height: 24px;
        font-size: 15px;
        letter-spacing: 1.4px;
    }

    .txtBox::-webkit-input-placeholder {
        color: #B5B9B7;
        font-size: 11px;
    }

    .txtBox:-ms-input-placeholder {
        color: #B5B9B7;
        font-size: 11px;
    }

    .txtBox:read-only {
        background-color: #f5f5f5;
    }


.btn {
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 12px !important;
    min-width: 78px;
    height: 72px;
    font-weight: normal;
    line-height: 1.62857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #404040;
    font-weight: bold;
    color: #FFF;
    border: none;
}

    .btn.small {
        min-width: 30px;
        height: 22px;
        font-size: 12px;
        padding: 0px 0px;
        margin: 0px 2px;
    }


    .btn.popup {
        min-width: 20px;
        height: 18px;
        font-size: 9px !important;
        padding: 0px 0px;
        margin: 0px 0px;
        box-shadow: 0.5px 1px 2px #c6c6c6;
        font-weight: normal;
    }

.gridComponent {
    overflow: hidden;
    position: relative;
    margin: 3px;
}

    .gridComponent > button {
        margin-right: 10px;
    }

        .gridComponent > button:hover {
            cursor: pointer;
        }


.SearchTable {
    width: 100%;
}

    .SearchTable tr.detail.view {
        display: table-row;
    }

    .SearchTable tr.detail {
        display: none;
    }

    .SearchTable tr th {
        width: 110px;
        font-size: 15px;
        font-weight: bolder;
        color: #5f5f5f;
        letter-spacing: 1px;
        text-align: left;
        padding-left: 10px;
        font-family: NotoKrB;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

table.grid {
    border-collapse: collapse;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: bold;
}

    table.grid tr, table.grid th, table.grid td {
        height: 25px;
        color: #2C2929;
        font-family: 맑은 고딕, Tahoma;
        text-align: center;
        font-size: 12px;
    }

    table.grid th {
        border: 1px solid #2C2929;
        border-top: 2px solid #2C2929;
        background-color: #F4F8FF;
        padding: 5px 3px;
    }

    table.grid td {
        border: 1px solid #D1D4DA;
        padding: 5px 3px;
    }

table.titleGrid {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 10px 10px;
    font-size: 14px;
}

    table.titleGrid th {
        width: 180px;
        padding: 6px 10px;
        font-weight: bold;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
        background: #efefef;
    }

    table.titleGrid td {
        width: 350px;
        padding: 6px 10px;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
    }


span.renderText {
    width: calc(100%-10px);
    height: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 0px 10px;
    line-height: 2.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
[tooltip-text]:hover {
    position: relative;
}

[tooltip-text]:after {
    -webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 7px 12px;
    position: relative !important;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    word-wrap: break-word;
    z-index: 1000001;
    opacity: 0;
    left: 0px;
    top: 0px;
    content: attr(tooltip-text);
}

[tooltip-text]:hover:after {
    top: 130%;
    left: 0;
    opacity: 1;
}
    */
/*[Bbs]***********************************************************************************************************/
#replyList {
    margin-left: 12px;
    margin-bottom: 10px;
    background-color: #E6E6E6;
}
.newReplys{
    margin: 10px;
    margin-bottom: 10px;
}
.REreply {
    margin: 20px;
    margin-bottom: 10px;
}
.replyInfo, .RereplyInfo {
    display: flex;
}
.reply_us_nm, .REreply_nm {
    font-weight: bold;
}
.reply_create_dt, .REreply_dt {
    color: #848484;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.74em;
}
.newReplys a{
    font-size: 13px;
    color: rgba(143,143,144,1);
    margin: 0px 10px;
    cursor: pointer;
    letter-spacing: 0.23em;
    text-decoration: none;
}
.REreply a {
    font-size: 13px;
    color: rgba(143,143,144,1);
    cursor: pointer;
    letter-spacing: 0.23em;
    text-decoration: none;
}

.newReplys a:hover {
    text-decoration: underline;
}

.bbs_reply_content, .REreply_content {
    text-indent: 25px;
}


.btnAdd {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.writeRE_replybox {
    margin-top: 10px;
    display : none;
}
.RE_replyContent {
    width: 100%;
    height: 94px;
    
}
.txtBoxWrap {
    width:40%;
}

.btnwrap{
    width:10%;
}
