@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <div>
        <div class="searchBox">
            <div class="searchTitle">
                <label>배포 내역 확인</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div>배포 제목</div>
                    <div>
                        <input type="text" id="txtDistTitle" class="txtBox" style="width:300px;" />
                    </div>
                </div>

                <div class="searchData">
                    <div>EO 번호</div> 
                    <div>
                        <input type="text" id="txtEoNo" class="txtBox" style="width:160px;" />
                    </div>
                </div>

                <div class="searchData">
                    <div>배포자</div>
                    <div>
                        <input type="text" id="txtDistUsNm" class="txtBox" style="width:200px;" />
                    </div>
                </div>

                <div class="searchData">
                    <div>배포일</div>
                    <div>
                        <div id="chkDistDt"></div>
                        <input type="text" id="txtDistSDate" style="width:130px;" /> ~ <input type="text" id="txtDistEDate" style="width:130px;" />
                    </div>
                </div>

                <div class="searchData">
                    <div>만료일</div>
                    <div>
                        <div id="chkFinishDt"></div>
                        <input type="text" id="txtFinishSDate" style="width:130px;" /> ~ <input type="text" id="txtFinishEDate" style="width:130px;" />
                    </div>
                </div>

                <div class="searchData">
                    <div>상태</div>
                    <div>
                        <div id="cbDistSt"></div>
                    </div>
                </div>

            </div>
            <div class="searchButton">
                <button id="btnDeptAdd" onclick="GetDistList()">검 색</button>
            </div>
        </div>

        <div id="grdDistList">
        </div>
    </div>


<script type="text/javascript">
    $("#lbLocation").text("배포 수신 - 배포 수신 리스트");
    var distSource =
    {
        datatype: "json",
        datafields: [
            { name: 'dist_idx' },
            { name: 'dist_title' },
              { name: 'dist_msg' },
            { name: 'eo_no' },
            { name: 'create_us_nm' },
            { name: 'dist_datetime' },
            { name: 'finish_date' },
            { name: 'dist_st_nm' },
            { name: 'file_down_status' },
            
        ],
        id: 'dist_idx',
        localdata: null
    };

    $(document).ready(function () {
        var distStGrp = distStatusGroup.filter(function (item, index, array) {
            if (item.value != "CR") {
                return item;
            }
        });
        $("#cbDistSt").jqxComboBox({ selectedIndex: 0, source: distStGrp, displayMember: "text", valueMember: "value", width: 150, height: 26, });

        $("#txtDistSDate").jqxDateTimeInput(DateFormat);
        $("#txtDistSDate").jqxDateTimeInput({ width: '125px' })
        $("#txtDistSDate").val(GetDate(-1, "m", "-"));

        $("#txtDistEDate").jqxDateTimeInput(DateFormat);
        $("#txtDistEDate").jqxDateTimeInput({ width: '125px' })
        $("#txtDistEDate").val(GetDate(0, "m", "-"));

        $("#txtFinishSDate").jqxDateTimeInput(DateFormat);
        $("#txtFinishSDate").jqxDateTimeInput({ width: '125px' })
        $("#txtFinishSDate").val(null);

        $("#txtFinishEDate").jqxDateTimeInput(DateFormat);
        $("#txtFinishEDate").jqxDateTimeInput({ width: '125px' })
        $("#txtFinishEDate").val(null);

        $("#chkDistDt").jqxCheckBox({ width: 30, height: 25, checked: true });         
        $("#chkFinishDt").jqxCheckBox({ width: 30, height: 25, checked: false });

        var userParam = {};
        userParam.use_fl = "Y";
        SetDistUsText = function (res) {
            $("#txtDistUsNm").jqxInput({ placeHolder: "사용자 명을 입력하세요", minLength: 1, source: ConvTextArray(res, "us_nm"), height: 26, width: 180 });
        };

        GetCommData("/Common/GetUserList", { searchModel: userParam }, SetDistUsText);
        
        $("#grdDistList").jqxGrid({
            width: "100%",
            height: 660,
            rowsheight: 28,
            columnsheight: 30,
            source: null,
            sortable: false,
            pageable: false,
            selectionmode: "singlerow",          
            columns: [                
                { text: '', datafield: 'dist_idx', width: "4%", align: 'center', cellsalign: 'center' },
                { text: '배포 제목', datafield: 'dist_title', width: "20%", align: 'center', cellsalign: 'center', },
                { text: '배포 내용', datafield: 'dist_msg', width: "32%", align: 'center', cellsalign: 'left', },
                { text: 'EO 번호', datafield: 'eo_no', width: "10%", align: 'center', cellsalign: 'center', },
                { text: '배포자', datafield: 'create_us_nm', width: "8%", align: 'center', cellsalign: 'center', },
                { text: '배포일', datafield: 'dist_datetime', width: "10%", align: 'center', cellsalign: 'center', },
                { text: '만료일', datafield: 'finish_date', width: "6%", align: 'center', cellsalign: 'center', },
                { text: '상태', datafield: 'dist_st_nm', width: "6%", align: 'center', cellsalign: 'center', },
                { text: '수신여부', datafield: 'file_down_status', width: "4%", align: 'center', cellsalign: 'center', },
            ]
        });

        $("#grdDistList").on("rowdoubleclick", function (e) {          
            var IDX = $("#grdDistList").jqxGrid('getrowdata', e.args.rowindex).dist_idx;

            location.href = "/Recv/RecvView?dist_idx=" + IDX;
        });

        GetDistList();
    });

    function GetDistList() {
        var printDist = function (res) {
             PrintGridView(distSource, $("#grdDistList"), res);
        }

        var param = {};
        if ($("#chkDistDt").val() === true) {
            param.dist_sdt = $("#txtDistSDate").val();
            param.dist_edt = $("#txtDistEDate").val();
        }
        
        if ($("#chkFinishDt").val() === true) {
            param.finish_sdt = $("#txtFinishSDate").val();
            param.finish_edt = $("#txtFinishEDate").val();
        }

        param.dist_title = $("#txtDistTitle").val();
        param.eo_no = $("#txtEoNo").val();
        param.create_us_nm = $("#txtDistUsNm").val();
        param.dist_st = $("#cbDistSt").jqxComboBox('getSelectedItem').value;
        
        GetCommData("/Recv/GetRecvList", { searchModel: param }, printDist);
    }

    
</script>