@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Massage");
            history.back();
        } 


    </script>

    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
