@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js?date=20191105"></script>
<div>
    <div class="searchBox"> 
        <div class="searchTitle">
            <label>로그인 이력</label>
        </div>
        <div class="searchContent">
            <div class="searchData">
                <div>시도한 LOGIN ID</div>
                <div>
                    <input type="text" id="txtTryLogin" class="txtBox" style="width:150px;" /> 
                </div>
            </div>

            <div class="searchData">
                <div>로그인 사용자 명</div>
                <div>
                    <input type="text" id="txtLoginUserNm" class="txtBox" style="width:150px;" />
                </div>
            </div>

            <div class="searchData">
                <div>소속 명</div>
                <div>
                    <div id="cbLoginGroup"></div>&nbsp;
                    <input type="text" id="txtLoginGroupNm" class="txtBox" style="width:160px;" />
                </div>
            </div>
            <div class="searchData">
                <div>아이피</div>
                <div>
                    <input type="text" id="txtLoginIP" class="txtBox" style="width:180px;" />
                </div>
            </div>
            <div class="searchData">
                <div>상태</div>
                <div>
                    <div id="cbLoginStatus"></div>
                </div>
            </div>
            <div class="searchData">
                <div>로그인 일시</div>
                <div>
                    <input type="text" id="txtLoginSDate" style="width:130px;" /> ~ <input type="text" id="txtLoginEDate" style="width:130px;" />
                </div>
            </div>
        </div>
        <div class="searchButton">
            <button id="btnSearch">검 색</button>
        </div>
    </div>

    <div style="width:100%;display:flex;flex-direction:row;justify-content:space-between;">
        <div style="width:70%;">
            <div id="grdLoginHistory">
            </div>
        </div>
        <div style="width:29%;">
            <div style="width:100%;height:45%;">
                <div panel>
                    <div>기간 로그인 건수 - 기간검색만사용</div>
                    <div style="padding:10px;">
                        <div id="chartLoginCnt" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
            <div style="width:100%;height:45%;margin-top:40px;">
                <div panel>
                    <div>기간별 최고 접속 인원 - 기간검색만사용</div>
                    <div style="padding:10px;">
                        <div id="chartLoginTopUser" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $("#lbLocation").text("도면배포시스템 로그인 현황");
    var loginStatus = [
        { value: "", text: "전체" },
        { value: "N", text: "잘못된 ID" },
        { value: "P", text: "잘못된 PW" },
        //{ value: "O", text: "OPT 발행" },
        //{ value: "X", text: "잘못된 OPT 입력" },
        { value: "A", text: "미사용 아이디" },
        { value: "S", text: "정상 로그인" },
    ];

    var loginSource =
    {
        datatype: "json",
        datafields: [
            { name: 'login_idx' },
            { name: 'try_id' },
            { name: 'try_ip' },
            { name: 'try_dt' },
            { name: 'try_datetime' },
            { name: 'login_st' },
            { name: 'login_st_nm' },
            { name: 'login_us' },
            { name: 'login_us_nm' },
            { name: 'us_role' },
            { name: 'us_role_nm' },
            { name: 'us_group' },
            { name: 'us_group_nm' },

        ],
        id: 'login_idx',
        localdata: null
    };

    $(document).ready(function () {
        $("[panel]").jqxExpander({ width: '100%', height: '100%', toggleMode: "none", showArrow: false, theme: 'classic' });


        $("#cbLoginStatus").jqxComboBox({ selectedIndex: 0, source: loginStatus, displayMember: "text", valueMember: "value", width: 150, height: 26, });
        $("#cbLoginGroup").jqxComboBox({ selectedIndex: 0, source: userGroupType, displayMember: "text", valueMember: "value", width: 100, height: 26, });
        $("#txtLoginGroupNm").jqxInput({ placeHolder: "소속 명을 입력하세요", minLength: 1, height: 26, width: 200 });

        $('#cbLoginGroup').on('select', function (event) {
            if (args) {
                var param = {};
                param.use_fl = "Y";
                var sUrl = "";
                var textField
                if (args.item.value === "10") {
                    sUrl = "/Common/GetVendList";
                    textField = "vend_nm";
                } else {
                    sUrl = "/Common/GetDeptList";
                    textField = "dept_nm";
                }

                $("#txtLoginGroupNm").val("");

                ChangeGroupList = function (res) {
                    $("#txtLoginGroupNm").jqxInput({ source: ConvTextArray(res, textField), height: 26, width: 150 });
                }

                GetCommData(sUrl, param, ChangeGroupList);
            }
        });


        SetAllUserText = function (res) {
            $("#txtLoginUserNm").jqxInput({ placeHolder: "로그인 사용자 명을 입력하세요", minLength: 1, source: ConvTextArray(res, "us_nm"), height: 26, width: 190 });
        };

        var userParam = {};
        userParam.use_fl = "Y";
        GetCommData("/Common/GetAllUserList", { searchModel: userParam }, SetAllUserText);

        $("#txtLoginSDate").jqxDateTimeInput(DateFormat);
        $("#txtLoginSDate").jqxDateTimeInput({ width: '125px' })
        $("#txtLoginSDate").val(GetDate(-1, "m", "-"));

        $("#txtLoginEDate").jqxDateTimeInput(DateFormat);
        $("#txtLoginEDate").jqxDateTimeInput({ width: '125px' })
        $("#txtLoginEDate").val(GetDate(0, "m", "-"));

        $("#grdLoginHistory").jqxGrid({
            theme : jqxtheme,
            width: "100%",
            height: 660,
            rowsheight: 28,
            columnsheight: 30,
            source: null,
            sortable: false,
            pageable: false,
            selectionmode: "singlerow",
            columns: [
                { text: 'No', datafield: 'login_idx', width: "6%", align: 'center', cellsalign: 'center' },
                { text: '시도 ID', datafield: 'try_id', width: "12%", align: 'center', cellsalign: 'center' },
                { text: '시도 IP', datafield: 'try_ip', width: "15%", align: 'center', cellsalign: 'center', },
                { text: '일시', datafield: 'try_datetime', width: "15%", align: 'center', cellsalign: 'center', },
                { text: '상태', datafield: 'login_st_nm', width: "15%", align: 'center', cellsalign: 'center', },
                { text: '로그인 사용자', datafield: 'login_us_nm', width: "12%", align: 'center', cellsalign: 'center', },
                { text: '사용자 구분', datafield: 'us_role_nm', width: "12%", align: 'center', cellsalign: 'center', },
                { text: '사용자 소속', datafield: 'us_group_nm', width: "13%", align: 'center', cellsalign: 'center', },
            ]
        });

        $("#btnSearch").on("click", function () {
            GetLoginHistoryList();
            drawLoginCnt();
            drawTopUserChart();
        })

        GetLoginHistoryList();
        google.charts.load('current', { 'packages': ['corechart'] });
        //google.charts.setOnLoadCallback(drawLoginCnt);
        drawLoginCnt();
        drawTopUserChart();
    });

    function GetLoginHistoryList() {
        var printLogin = function (res) {
            PrintGridView(loginSource, $("#grdLoginHistory"), res);
        }

        var param = {};
        param.try_id = $("#txtTryLogin").val();
        param.login_us_nm = $("#txtLoginUserNm").val();
        param.try_ip = $("#txtLoginIP").val();
        param.us_group_nm = $("#txtLoginGroupNm").val();
        param.us_role = $("#cbLoginGroup").jqxComboBox('getSelectedItem').value;
        param.tryLoginSDate = $("#txtLoginSDate").val();
        param.tryLoginEDate = $("#txtLoginEDate").val();
        param.login_st = $("#cbLoginStatus").jqxComboBox('getSelectedItem').value;
        console.log(param);
        GetCommData("/Admin/GetLoginHistory", param, printLogin);
    }

    function drawLoginCnt() {
        var dataObject = {};
        dataObject.cols = [];
        dataObject.rows = [];

        var cols1 = { "id": "", "label": "날짜", "pattern": "", "type": "string" };
        var cols2 = { "id": "", "label": "로그인수", "pattern": "", "type": "number" };
        dataObject.cols.push(cols1);
        dataObject.cols.push(cols2);

        var param = {};
        param.searchSdate = $("#txtLoginSDate").val();
        param.searchEdate = $("#txtLoginEDate").val();

        printDistCnt = function (res) {
            dataObject.rows = ConvModelToGoogleData(res, ["login_date", "login_cnt"]);
            var data = new google.visualization.DataTable(JSON.stringify(dataObject));

            var options = {
                hAxis: {
                },
                vAxis: {
                },
                chartArea: { 'width': '100%', 'height': '80%' },              
            };
            var chart = new google.visualization.LineChart(document.getElementById('chartLoginCnt'));

            chart.draw(data, options);
        }

        GetCommData("/Admin/GetLoginCntStats", param, printDistCnt);
    }

    function drawTopUserChart() {

        var dataObject = {};
        dataObject.cols = [];
        dataObject.rows = [];

        var cols1 = { "id": "", "label": "사용자 명", "pattern": "", "type": "string" };
        var cols2 = { "id": "", "label": "로그인수", "pattern": "", "type": "number" };
        dataObject.cols.push(cols1);
        dataObject.cols.push(cols2);

         var param = {};
        param.searchSdate = $("#txtLoginSDate").val();
        param.searchEdate = $("#txtLoginEDate").val();

        printUserLoginCnt = function (res) {
            dataObject.rows = ConvModelToGoogleData(res, ["login_us_nm", "login_cnt"]);
            var data = new google.visualization.DataTable(JSON.stringify(dataObject));

            var options = {
                hAxis: {
                },
                vAxis: {
                },
                chartArea: { 'width': '140%', 'height': '100%' },              
            };
            var chart = new google.visualization.PieChart(document.getElementById('chartLoginTopUser'));

            chart.draw(data, options);
        }

        GetCommData("/Admin/GetLoginTopUserStats", param, printUserLoginCnt);
      }
</script>